@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

[data-theme="dark"] {
  background-color: black;
}
[data-theme="light"] {
  background-color: rgb(243, 240, 240);
}
